<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<h2><strong><%= @user.username %>'s posts</strong></h2>
<hr>

<p><% @posts.each do |post| %></p>
<h3><%= link_to post.title, post_path(post) %></h3>
<p><%= post.body %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
