<!-- Shows user profile -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= link_to 'Edit Profile', edit_user_path(@user) %>

<div>
  <h2 class="button-margin"><em><strong><%= @user.username %>'s posts</strong></em></h2>
</div>

<p><% @posts.each do |post| %></p>
<h3><%= link_to post.title, post_path(post) %></h3>
<p class="body-indent"><%= post.body %></p>

<% end %>
